footer {
  background-color: #e2cfc6; /* Softer gradient background */
  padding: 40px 0;
  font-size: 17px; /* Slightly larger font size for readability */
  color: #333; /* Dark text color for better contrast */
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow for depth */
  font-family: 'Poppins', sans-serif; /* Modern and clean font */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 40px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.footer-copyright {
  text-align: left;
  color: #333; /* Adjusted text color */
  margin-bottom: -20px;
  font-size: 18px; /* Larger font size for copyright text */
}
.footer-new-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #c3a99ed5; /* Light background for contrast */
  padding: 20px 150px;
  margin-top: -40px; /* Space above the new section */
  margin-bottom: -20px;
  color: #333;
}

.customer-support, .newsletter-signup {
  flex: 1 1 300px; /* Responsive layout for smaller screens */
  margin: 20px;
}

.customer-support h4, .newsletter-signup h4 {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
}

.newsletter-input {
  width: 80%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.newsletter-button {
  width: 80%;
  padding: 8px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #463838;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: #333; /* Dark text color for links */
  margin-right: 30px;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-links a:hover {
  color: #4f1202; /* Accent color on hover */
  transform: scale(1.1); /* Subtle zoom effect */
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social a {
  margin-right: 15px;
  color: #333; /* Dark color for social icons */
  font-size: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social a:hover {
  color: #4f1202; /* Accent color on hover */
  transform: scale(1.2); /* Slightly larger on hover */
}

.footer-disclaimer {
  text-align: center;
  font-size: 10px; /* Increased font size for better readability */
  font-style: italic;
  color: #030202; /* Light gray text for disclaimer */
  max-width: 1300px;
  margin: -10px auto;
  border: 2px solid #333; /* Added border with color */
  border-radius: 8px; /* Optional: rounded corners for a softer look */
  padding: 20px 30px; /* Adjusted padding to ensure text doesn't touch the border */
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    margin-top: 50px;
  }

  .footer-copyright {
    margin-top: 20px;
  }
}
